.hamburgerDropDown {
    line-height: 85px;
    position: fixed;
    right: 0px;
    top: -20px;
    width: 15%;
    height: 100%;
    background-color: black;
    text-decoration: none;
}

@keyframes hamburgerDropDown {
    from {right: -40px;}
    to {right: 0px;}
}

ul.hamburgerDropDown {
    padding: 20px;
    animation: hamburgerDropDown 0.5s linear;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.burger {
    position: sticky;
    z-index: 1;
}

.navbar div {
    left: 20px;
    top: 20px;
    position: fixed;

}

.navlogo {
    width: 100px;
    height: 100px;
    position: fixed;
    right: 0;
    bottom: 0;
}